﻿@model TestIntant.Models.Subcategory

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить эту подкатегорию?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Категория
        </dt>
        <dd>
            @Model.Category.Name
        </dd>
    </dl>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-default" asp-action="Index" asp-route-categoryId="@Model.CategoryId">Назад</a>
        <input type="submit" value="Удалить" class="btn btn-default" />
    </form>
</div>
