﻿@model TestIntant.Models.ViewModels.SubcategoryView

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/js/AddImage.js" asp-append-version="true"></script>
</head>
<body>
    <h2>Редактировать подкатегорию</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="file_upload">
                        <img style="max-height: 300px; max-width: 300px; cursor: pointer" src="@ViewBag.ImagePath" id="upload-img" alt="image" />
                        <input id="upload" type="file" asp-for="Image">
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">Название</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Категория</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-default" asp-route-categoryId="@Model.CategoryId">Назад</a>
                    <button type="submit" class="btn btn-default" asp-route-id="@ViewBag.Id">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>