﻿@model IEnumerable<TestIntant.Models.Subcategory>
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>@ViewBag.Category</h2>
    <p>
        <a class="btn btn-default" asp-action="Create" asp-route-categoryId="@ViewBag.CategoryId">Добавить подкатегорию</a>
    </p>
    <hr />
    <row>
        @foreach (var item in Model)
        {
            <div class="col-lg-3" style="padding: 40px">
                <img src="@item.Image" style="max-height: 200px; max-width: 200px;" alt="Image" />
                <div style="font-size:18px; text-align: center; margin: 10px 0 10px">
                    <a asp-controller="Products" asp-action="Index" asp-route-subcategoryId="@item.Id">@item.Name</a>
                </div>
                <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">
                    <span title="Редактировать" class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">
                    <span title="Удалить" class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        }
    </row>
</body>
</html>