﻿@model List<TestIntant.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/Quantity.js" asp-append-version="true"></script>
</head>
<body>
    <h2>Корзина</h2>
    <form asp-action="Index">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Товар
                    </th>
                    <th>
                        Количество
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @item.Product.Name
                        </td>
                        <td>
                            <span class="btn btn-default increase">+</span>
                            <span>@item.Quantity</span>
                            <span class="getId" style="display: none">@item.Id</span>
                            <span class="btn btn-default decrease">-</span>
                        </td>
                        <td>
                            <a asp-action="Delete" class="btn btn-default" asp-route-id="@item.Id">
                                <span title="Удалить" class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
         @for (var i = 0; i < Model.Count; i++)
         {
            <input type="hidden" id="@Model[i].Id" value="" asp-for="@Model[i].Quantity" />
            <input type="hidden" asp-for="@Model[i].ProductId" />
         }
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Оформить заказ"/>
        </div>
    </form>
</body>
</html>