﻿@model TestIntant.Models.ViewModels.ParameterView

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/js/AddValues.js" asp-append-version="true"></script>
</head>
<body>
    <h2>Редактировать параметр</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Название</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="radio" asp-for="Range" value="true" id="Range">
                    <label>Диапазон</label><br />
                    <input type="radio" asp-for="Range" value="false" id="Values">
                    <label>Выбор значений</label>
                </div>
                <input id="hidden" type="hidden" asp-for="Values" />
                <div class="form-group" id="createValue">
                    <span class="btn btn-default" style="display: none; width: 160px" id="valueButton">Добавить значение</span>
                    @if (Model.ValueEdit != null)
                    {
                        @foreach (var item in Model.ValueEdit)
                        {
                            <input value="@item" class="form-control" />

                        }
                    }
                </div>
                <div class="form-group">
                    <a class="btn btn-default" asp-action="Index">Назад</a>
                    <input type="submit" value="Создать" class="btn btn-default" id="add" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>