﻿@model IEnumerable<TestIntant.Models.Parameter>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/AddToCart.js" asp-append-version="true"></script>
</head>
<body>
    <h2>Параметры товаров</h2>
    <p>
        <a class="btn btn-default" asp-action="Create">Добавить параметр</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id">
                            <span title="Редактировать" class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.Id">
                            <span title="Удалить" class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
</html>
