﻿@model TestIntant.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить этот заказ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Адрес
        </dt>
        <dd>
            @Model.Address
        </dd>
        <dt>
            Дата
        </dt>
        <dd>
            @Model.Date
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-default">Назад</a>
        <input type="submit" value="Удалить" class="btn btn-default" />
    </form>
</div>
