﻿@model TestIntant.Models.ViewModels.OrderView

@{
    ViewData["Title"] = "Details";
}

<h2>Заказ №</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Товар
            </th>
            <th>
                Количество
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.Product
                </td>
                <td>
                    @item.Quantity
                </td>
            </tr>
        }
    </tbody>
</table>
