﻿@model IEnumerable<TestIntant.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Заказы</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Адрес
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Date
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-default">Подробнее</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn btn-default">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
