﻿@model TestIntant.Models.ViewModels.ProductView

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>
            Категория
        </dt>
        <dd>
            @ViewBag.Category
        </dd>
        <dt>
            Подкатегория
        </dt>
        <dd>
            @ViewBag.Subcategory
        </dd>
        @for (var i = 0; i < Model.Parameters.Count; i++)
        {
            <dt>
                @Model.Parameters[i].Name
            </dt>
            <dd>
                @Model.Parameters[i].Values
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-subcategoryId="@Model.SubcategoryId" class="btn btn-default">Назад</a>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@ViewBag.ProductId">
        <span title="Редактировать" class="glyphicon glyphicon-edit"></span>
    </a>
    <a class="btn btn-default" asp-action="Delete" asp-route-id="@ViewBag.ProductId">
        <span title="Удалить" class="glyphicon glyphicon-trash"></span>
    </a>
    <a class="btn btn-default" asp-controller="CartItems" asp-action="Create" asp-route-productId="@ViewBag.ProductId">
        В корзину
    </a>
</div>
