﻿@model TestIntant.Models.ViewModels.ProductView

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/js/AddImage.js" asp-append-version="true"></script>
</head>
<body>
    <h2>Редактировать товар</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="file_upload">
                        <img style="max-height: 300px; max-width: 300px; cursor: pointer" src="@ViewBag.ImagePath" id="upload-img" alt="image" />
                        <input id="upload" type="file" asp-for="Image">
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">Название</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Подкатегория</label>
                    <select asp-for="SubcategoryId" class="form-control" asp-items="ViewBag.Subcategories"></select>
                    <span asp-validation-for="SubcategoryId" class="text-danger"></span>
                </div>
                @for (var i = 0; i < Model.Parameters.Count; i++)
                {
                    <div class="form-group">
                        <label class="control-label">@Model.Parameters[i].Name</label>
                        <input type="hidden" asp-for="Parameters[i].Range" />
                        <input type="hidden" asp-for="Parameters[i].Name" />
                        <input type="hidden" asp-for="Parameters[i].Id" />
                        @if (Model.Parameters[i].Range == true)
                        {
                            <input asp-for="Parameters[i].Values" class="form-control" value="@Model.Parameters[i].Values"/>
                        }
                        else
                        {
                            <select asp-for="Parameters[i].Values" class="form-control" asp-items="Model.Parameters[i].ValueList"></select>
                        }
                    </div>
                }
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-default" asp-route-subcategoryId="@Model.SubcategoryId">Назад</a>
                    <button type="submit" class="btn btn-default" asp-route-id="@ViewBag.Id">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>