﻿@model TestIntant.Models.ViewModels.ProductFilters

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/js/AddImage.js" asp-append-version="true"></script>
    <script src="~/js/AddToCart.js" asp-append-version="true"></script>
</head>
<body>
    <h2>@ViewBag.Subcategory</h2>
    <p>
        <a class="btn btn-default" asp-action="Create" asp-route-subcategoryId="@ViewBag.SubcategoryId">Добавить товар</a>
        <span id="ok"></span>
    </p>
    <hr />
    <row>
        <form asp-action="Index">
            <div class="col-lg-3" style="padding: 20px">
                @for(var i = 0; i < Model.Parameters.Count; i++)
                {
                    <div class="form-group">
                        <label style="display: block">@Model.Parameters[i].Name</label>
                        @if (Model.Parameters[i].Range == true)
                        {
                            <input asp-for="@Model.Parameters[i].Min" type="text" class="form-control" style="width:100px; display:inline"/><span> - </span>
                            <input asp-for="@Model.Parameters[i].Max" type = "text" class="form-control" style="width: 100px; display:inline"/>
                        }
                        else
                        {
                            <select asp-for="@Model.Parameters[i].Values" class="form-control" asp-items="Model.Parameters[i].ValueList">
                                <option selected></option>
                            </select>
                        }
                        <input type="hidden" asp-for="@Model.Parameters[i].Id" />
                        <input type="hidden" asp-for="@Model.Parameters[i].Name" />
                        <input type="hidden" asp-for="@Model.Parameters[i].Range" />
                    </div>
                }
                <input type="submit" class="btn btn-default" asp-route-subcategoryId="@ViewBag.SubcategoryId" value="Искать" />
            </div>
            <div class="col-lg-9">
                @for (var i = 0; i < Model.Products.Count; i++)
                {
                    <div class="col-lg-4" style="padding: 40px">
                        <img src="@Model.Products[i].ImagePath" style="max-height: 200px; max-width: 200px;" alt="Image" />
                        <div style="font-size:18px; text-align: center; margin: 10px 0 10px">
                            <a asp-action="Details" asp-route-id="@Model.Products[i].Id">@Model.Products[i].Name</a>
                        </div>
                        <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Products[i].Id">
                            <span title="Редактировать" class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-default" asp-action="Delete" asp-route-id="@Model.Products[i].Id">
                            <span title="Удалить" class="glyphicon glyphicon-trash"></span>
                        </a>
                        @if (@Model.Products[i].InCart == false)
                        {
                            <a class="btn btn-default" asp-controller="CartItems" asp-action="Create" asp-route-productId="@Model.Products[i].Id">
                                В корзину
                            </a>
                        }
                        else
                        {
                            <span>
                                В корзине
                            </span>
                        }
                    </div>
                    <input type="hidden" asp-for="@Model.Products[i].ImagePath" />
                    <input type="hidden" asp-for="@Model.Products[i].Id" />
                    <input type="hidden" asp-for="@Model.Products[i].Name" />
                    <input type="hidden" asp-for="@Model.Products[i].SubcategoryId" />
                }
            </div>
        </form>
    </row>
    </body>
</html>
